<!-- Modal -->
{{!-- No atributo id estou acrescentando o id do funcionário que está vindo da página index.handlebars, isso é preciso para tornar o modal único para cada item lá da página inicial do funcionário --}}
<div class="modal fade" id="modal{{idItem}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Tem certeza que deseja deletar este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="/reparo/destroy/{{idItem}}" type="button" class="btn btn-danger">Deletar</a>
      </div>
    </div>
  </div>
</div>